/* colour variables */
:root {
  --darkPurple: #d2c8fa;
  --lightPurple: #6c48fd2b;
  --darkestPurple: #6c48fd;
  --red: #ffbbbb;
  --yellow: #ffd5ab;
  --green: #abffc1;
  --lightGrey: #d9d9d9;
  --darkGrey: #949494;
  --backgroundGrey: #f4f4f4;
}
/* colour variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
